<!DOCTYPE html>
<html>
<head>
    <title>Add Movie</title>
    <%- include('./partials/bootstrap') %>
</head>
<body>
    <%- include('./partials/navbar') %>
    <h1 style="text-align: center;">Add Movie</h1><br>
    <div style="text-align: center;">
        <a href="/movies" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Show All Movie</a>
    </div>
    <form action="/movies/add" method="POST">
        <div style="width: 30%;" class="container">
            <br><br>
            <% if (error) { %>
                <div class="alert alert-warning" role="alert">
                    <%=error%>
                </div>
            <% } %>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Movie's Name</span>
                </div>
                <input type="text" name="name" class="form-control" placeholder="e.g: 12 Angry Man" aria-label="Username" aria-describedby="basic-addon1">
            </div><br>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Released Year</span>
                </div>
                <input type="text" name="released_year" class="form-control" placeholder="e.g: 1957" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <select name="genre" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                    <option>--Select Genre--</option>
                    <option value="animasi">animasi</option>
                    <option value="comedy">comedy</option>
                    <option value="drama">drama</option>
                    <option value="horror">horror</option>
                    <option value="religi">religi</option>
                    <option value="thriller">thriller</option>
                  </select>
            </div>
            <div class="input-group mb-3">
                <select name="ProductionHouseId" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                    <option>--Select Production House--</option>
                    <% for(let data of datas) { %> 
                        <option value="<%=data.id%>"><%=data.name_prodHouse%></option>
                    <% } %>
                  </select>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
            <a class="btn btn-primary" href="/movies" role="button">Cancel</a>
        </div>
    </form>
</body>
</html>